<% @asks.each do |ask| %>
  <tr id="ask_<%=ask.id %>">
    <td><%= ask.name %></td>
    <th><%= ask.email %></td>
    <td><%= ask.type %></td>
    <td><%= ask.created_at %></td>
    <td>
      <% if ask.answered? %>
        <%= ask.answer.created_at %>
      <% else %>
        not answered
      <% end %>
    </td>
    <td>
      <% if ask.type == "MentorAsk" %>
        <%= ask.categories.map {|category| category.name}.join ', ' %></td>
      <% end %>
    <td><%= link_to "Show", ask_path(ask) %></td>
    <% if ask.type == "MentorAsk" %>
      <td><%= link_to "Edit", edit_mentor_ask_path(ask) %></td>
    <% else %>
      <td><%= link_to "Edit", edit_pair_ask_path(ask) %></td>
    <% end %>
    <td><%= link_to "Delete", ask_path(ask), method: :delete,
            data: { confirm: "Confirm deletion" }%></td>
  </tr>
<% end %>
