%h1 Listing asks

%table
  %tr
    %th Name
    %th Email
    %th Location
    %th Days
    %th Times
    %th Project desc
    %th Category
    %th
    %th
    %th

  - @asks.each do |ask|
    %tr
      %td= ask.name
      %td= ask.email
      %td= ask.location
      %td= ask.days
      %td= ask.times
      %td= ask.project_desc
      %td= ask.category
      %td= link_to 'Show', ask
      %td= link_to 'Edit', edit_ask_path(ask)
      %td= link_to 'Destroy', ask, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Ask', new_ask_path
