%p#notice= notice

%p
  %b Name:
  = @ask.name
%p
  %b Email:
  = @ask.email
%p
  %b Location:
  = @ask.location
%p
  %b Days:
  = @ask.days
%p
  %b Times:
  = @ask.times
%p
  %b Project desc:
  = @ask.project_desc
%p
  %b Category:
  = @ask.category

= link_to 'Edit', edit_ask_path(@ask)
\|
= link_to 'Back', asks_path
