<h1>Edit Pair Request</h1>
<%= form_for @ask, class: "form-inline col-lg-4" do |form| %>
  <%= render '/shared/error_messages', object: @ask %>
  <%= render '/asks/user_info', form: form %>
  <hr>
  <%= render '/asks/edit_locations', form: form %>
  <hr>
  <%= render '/asks/edit_times', form: form %>
  <div class="row">
    <div class="span8">
      <h4>
        Edit description:
      </h4>
      <%= form.text_area "description", class: "span8", rows: "8" %>
    </div>
  </div>
  <br><br><!-- Someday I'll learn how to adjust margin in CSS - in the meantime, please forgive my use of break tags :) -->
 
  <div class="row">
    <div class="span4 lead">
      <%= form.submit "Update Pairing Request »",
        class: "btn btn-large btn-block btn-info" %>
    </div>
  </div>

<% end %>
