<% days = %w{ Monday Tuesday Wednesday Thursday Friday Saturday Sunday } %>
<% @asks.each do |ask| %>
  <tr id="ask_<%=ask.id %>">
    <td><%= ask.name %></td>
    <td><%= ask.locations.map {|l| l.name}.join ', ' %></td>
    <% days.each do |day| %>
      <td>
        <% times = ask.meetup_times.where("day = ?", day) %>
        <%= times.map {|t| t.period}.join ', ' %>
      </td>
    <% end %>
    <td><%= ask.categories.map {|c| c.name}.join ', ' %></td>
    <td><%= ask.description %></td>
    <td>
      <div>
        <%= link_to 'Sign Up! »', new_answer_path(ask_id: ask.id),
          id: "answer_ask_#{ask.id}" %>
      </div>
    </td>
  </tr>
<% end %>
