%h1 Listing answers

%table
  %tr
    %th Name
    %th Email
    %th Ask
    %th
    %th
    %th

  - @answers.each do |answer|
    %tr
      %td= answer.name
      %td= answer.email
      %td= answer.ask
      %td= link_to 'Show', answer
      %td= link_to 'Edit', edit_answer_path(answer)
      %td= link_to 'Destroy', answer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Answer', new_answer_path
