<div class="hero-unit">
  <h1 class="demo-logo">
    Become a Mentor<small>Give back to the community by mentoring new coders on byte-sized projects.</small>
  </h1>
  <br>
  <div class="btn btn-large btn-success pull-right">Find A Mentee! »</div><!-- Header -->
</div><!-- Header -->

<div class="row"><!-- Explanatory text header row -->
  <div class="span12">
    <h1>How it works ..</h1>
    <p class="lead">
      Velit pop-up McSweeney's swag, fashion axe aliqua craft beer ethnic yr cornhole. Cornhole laborum commodo adipisicing, Brooklyn odio actually. Eu consequat american apparel cred, veniam labore mollit mustache. Mustache food truck artisan banh mi. Try-hard occaecat pug, helvetica cliche polaroid tote bag. Officia pour-over salvia, organic lo-fi mlkshk ut tofu. 8-bit incididunt placeat wayfarers mixtape, literally four loko in forage tousled gluten-free nulla. <br><strong><a href="#">Mentor Session Guidelines & Cheatsheet</a></strong>
    </p>
    <div class="btn btn-large btn-info"><a href="/prep">Help Me Prep for a Session »</a></div>
  </div>
</div><!-- Explanatory text header ROW -->
<hr>

<div class="row">
  <div class="span12">
    <h1>Find Your Mentee</h1>
    <p class="lead">Select from the menues below to find people seeking mentors.</p>
  </div><!-- Header row for mentee search table -->
</div><!-- Header row for mentee search table ROW -->

<div class="row">
  <div class="span12">
    <h5>Search by:</h5>
    <select name="herolist" style="display: none;">
      <option value="0">Location</option>
      <option value="1">Inner SE</option>
      <option value="2">Inner NE</option>
      <option value="3">Downtown</option>
      <option value="4">NW & Pearl</option>
      <option value="5">SW</option>
    </select>
    <select name="herolist" style="display: none;">
      <option value="0">Day</option>
      <option value="1">Monday</option>
      <option value="2">Tuesday</option>
      <option value="3">Wednesday</option>
      <option value="4">Thursday</option>
      <option value="5">Friday</option>
      <option value="6">Saturday</option>
      <option value="7">Sunday</option>
    </select>
    <select name="herolist" style="display: none;">
      <option value="0">Time</option>
      <option value="1">Before 9am</option>
      <option value="2">Any morning time</option>
      <option value="3">Noon</option>
      <option value="4">After 5pm</option>
      <option value="5">Any afternoon time</option>
      <option value="6">Anytime</option>
      <option value="7">Later evenings</option>
    </select>
    <select name="herolist" style="display: none;">
      <option value="0">Project Type</option>
      <option value="1">Beginner Ruby</option>
      <option value="2">JavaScript</option>
      <option value="3">?</option>
      <option value="4">?</option>
      <option value="5">?</option>
      <option value="6">?</option>
      <option value="7">?</option>
    </select>
  </div><!-- Mentee List (table) --><!-- Dropdown buttons for Mentee search ROW --> 
</div><!-- Dropdown buttons for Mentee search ROW --> 
<small>
<div class="row">
  <div class="span12">
    <table class="table table-striped mentees">
      <tr>
        <th>Name</th>
        <th>Locations</th>
        <th>Monday Time(s)</th>
        <th>Tuesday Time(s)</th>
        <th>Wednesday Time(s)</th>
        <th>Thursday Time(s)</th>
        <th>Friday Time(s)</th>
        <th>Saturday Time(s)</th>
        <th>Sunday Time(s)</th>
        <th>Project Type</th>
        <th>Project Description</th>
        <th>Sign Up To Mentor</th>
      </tr>
      <% @asks.each do |ask| %>
        <tr id="ask_<%=ask.id %>">
          <td><%= ask.name %></td>
          <td><%= ask.locations.map {|l| l.name}.join ', ' %></td>
          <% ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday",
            "Saturday", "Sunday"].each do |day| %>
            <td>
              <% times = ask.meetup_times.where("day = ?", day) %>
              <%= times.map {|t| t.period}.join ', ' %>
            </td>
          <% end %>
          <td><%= ask.categories.map {|c| c.name}.join ', ' %></td>
          <td><%= ask.description %></td>
          <td>
            <div>
              <a data-toggle="modal" data-remote="<%= new_answer_path(ask_id: ask.id) %>" href="#myModal" id="<%= "ask_signup_#{ask.id}" %>" class="btn btn-primary btn-mini mentor-signup">Sign Up! »</a>
            </td>
      <% end %>
      </tr>
    </table>
  </div>
</div>
</small>
<div class="row" id="answer_form"><!-- Modal (shared) --> 
  <div class="modal hide fade" id="myModal">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
           <h3 class="modal-title">We Love Our Mentors!</h3>
         </div>
         <div class="modal-body">

          <div><!-- modal-body -->

       </div><!-- /.modal-content -->
     </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div><!-- Modal (shared) Row -->
