<%= form_for @ask, url: { action: 'create', anchor: 'form_anchor' },
  class: "form-inline col-lg-4" do |form| %>
  <%= render '/shared/error_messages', object: @ask %>
  <%= render '/asks/user_info', form: form %>
  <hr>
  <%= render '/asks/locations', form: form %>
  <hr>
  <%= render '/asks/times', form: form %>
  <div class="row">
    <%= render 'categories', form: form %>
    <div class="span8 description">
      <h4>
        Please write a 2-3 sentence description of your project so mentors can
        evaluate whether they can help you (300 characters max).
      </h4>
      <%= form.text_area "description", class: "span8 description_area", rows: "8" %>
      <p class="characters">Characters remaining: 300<p>
    </div>
  </div>
  <br><br><!-- Someday I'll learn how to adjust margin in CSS - in the meantime, please forgive my use of break tags :) -->
  <div class="row">
    <div class="span4">
      <%= render '/shared/captcha' %>
    </div>
  </div>

  <br><br><!-- Someday I'll learn how to adjust margin in CSS - in the meantime, please forgive my use of break tags :) -->

  <%= render 'shared/disclaimer', form: form %>

  <div class="row">
    <div class="span4 lead">
      <%= form.submit "Submit Mentor Request Form »",
        class: "btn btn-large btn-block btn-info" %>
    </div>
  </div>

<% end %>
