<h1>Category Statistics</h1>
<% @categories.each do |category| %>
  <h2><%= category.name %></h2>
  <div id=<%= "category_#{category.id}" %>>
    <p class="total_requests">
      <% requests = category.mentor_asks.count %>
      <%= requests.to_s + " " + "request".pluralize(requests) %>
    </p>
    <p class="answered_requests">
      <% answered_requests = category.mentor_asks.where(answered: true).count %>
       <%= answered_requests.to_s + " " + "request".pluralize(requests) +
           " answered" %>
    </p>
    <p class="avg_response_time">
      Average response time: <%= category.average_response_time.to_i %> days
    </p>
    <p class="median_response_time">
      Median response time: <%= category.average_response_time.to_i %> days
    </p>
  </div>
<% end %> 
