<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title><%= full_title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <link rel="shortcut icon" href="/mentor-icon.png">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
  <%= render 'layouts/navigation' %>
  <div class="container">
    <%= yield %>

    <footer class="row">
      <div class="span3">
        <%= full_title %>
      </div>
      <div class="span3 footer-text">
        <p class="lead">Reference Documents</p>
        <ul>
          <li>
            <a href=" ">Code of Conduct</a>
          </li>
          <li>
            <a href="https://docs.google.com/document/d/1XqnUdYL-BXK_djNxe3IiF2Im_OfVkxAkaoOQYGr-8Bc/edit?usp=sharing">Mentor Program Process</a>
          </li>
          <li>
            <a href="https://docs.google.com/document/d/1-MLCBN6_dhzibhfhE5XI_OETqEmi_MJ9BY27X8MuhDI/edit?usp=sharing">Project Planning Guide</a>
          </li>
        </ul>
      </div>
      <div class="span4 footer-text">
        <br><br><br>
        <ul>
          <li>
            <a href=" ">Session Outlines</a>
          </li>
          <li>
            <a href=" ">Being a Good Mentor/Mentee</a>
          </li>
        </ul>
      </div>
    </footer>
  </div>

  <!-- Load JS here for greater good =============================-->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
